<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <title>Zusammenfassung</title>
        <script type="text/javascript" src="../resources/sorttable.js"></script>
        <link rel="stylesheet" href="../resources/styles.css">
    </head>
    <body>
        <h1>Zusammenfassung</h1>
        <p>Generiert am {{ date }}</p>
        <p>Schichtdicke: {{ geometry.film_thickness }} cm</p>
        <p>Kontaktlänge: {{ geometry.contact_length }} cm</p>
        <table class="sortable">
            <thead>
                <tr>
                    <th>Messstelle</th>
                    <th>A in cm</th>
                </tr>
                <tbody>
        {% for contact_dist_key in geometry.contact_dists %}
            <tr>
                <td>{{ contact_dist_key }}</td>
                <td>{{ geometry.contact_dists[contact_dist_key] }} cm</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <table class="sortable">
            <!--<caption>Berechnete Widerstände für verschiedene Messstellen und Temperaturen.</caption>-->
            <thead>
            <tr>
                <th>Messstelle</th>
                <th>T in &deg;C</th>
                <th>A in cm</th>
                <th>R in k&Omega;</th>
                <th>R<sub>Schicht</sub> in &Omega; * cm</th>
            </tr>
            </thead>
            <tbody>
            {% for meas in measurements %}
            <tr>
                <td>{{ meas.measuring_point }}</td>
                <td>{{ meas.temp_celcius }}</td>
                <td>{{ meas.contact_dist }}</td>
                <td>{{ "%.4e"|format(meas.resist) }}</td>
                <td>{{ "%.4e"|format(meas.film_resist) }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Kontaktwiderstände</h2>
        <table class="sortable">
            <!--<caption>Kontaktwiderstände für verschiedene Temperaturen.</caption>-->
            <thead>
            <tr>
                <th>T in &deg;C</th>
                <th>T in K</th>
                <th>R<sub>Kontakt</sub> in k&Omega;</th>
            </tr>
            </thead>
            <tbody>
            {% for temp in contact_resists %}
                <tr>
                    <td>{{ temp }}</td>
                    <td>{{ temp + 273.15 }}</td>
                    <td>{{ contact_resists[temp] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Arrhenius-Plots</h2>
        <table class="sortable">
            <thead>
            <tr>
                <th>A in cm</th>
                <th>E<sub>A</sub> in eV</th>
                <th>&sigma;<sub>0</sub> in 1 / (&Omega; * cm)</th>
            </tr>
            </thead>
            <tbody>
            {% for dist in arrhenius %}
                <tr>
                    <td>{{ dist }}</td>
                    <td>{{ arrhenius[dist][0] }}</td>
                    <td>{{ arrhenius[dist][1] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>
